@model IEnumerable<BookStore.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<p>
    <a asp-action="Create">Create New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.Created)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => customer.Name)</td>
            <td>@Html.DisplayFor(modelItem => customer.Email)</td>
            <td>@Html.DisplayFor(modelItem => customer.Phone)</td>
            <td>@Html.DisplayFor(modelItem => customer.Address)</td>
            <td>@Html.DisplayFor(modelItem => customer.Created)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@customer.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@customer.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
